:root {

/* FONT-FAMILY */

  --font-family: "Open Sans", sans-serif;
  --second-family: "Bebas Neue", sans-serif;

/* FONT-SIZE */

  --font-size-main: 18px;
  --font-size-small: 12px;
  --font-size-subtitle: 24px;
  --font-size-title: 80px;

  --font-weight-second: 700;

/* COLOR */

  --color-light: #fff;
  --color-second: #ffb548;
  --color-dark: #1a1917;
}
